body{
    margin: 0;
    padding:0;
    text-align: center;
    background-image: url("../images/login-img.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.main-box{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    display: block;
    box-shadow: #3c4649 3px 3px 3px ;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 2s ease;
    transition: width 1s ease;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}
.main-box .main-ul{
    list-style: none;
    width: 100%;
    height: 50px;
    display:inline-block ;
    margin-bottom: 0px;
    padding-left: 0px;
    position: relative;
}
.main-box .main-ul .main-li{
    float: left;
    line-height: 50px;
    width: 50%;
    transition:all.5s;
}
.main-box .main-ul .main-li-left{
    background-color:rgba(213, 216, 213, 0.5) ;
}
#a-left{
    text-decoration: none;
    color: #1b1b1b;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 15pt;
}
#a-right{
    text-decoration: none;
    color:rgba(49, 52, 49, 0.5);
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 15pt;
}
#a-left:hover{
    color: #ffffff;
}
.main-li-right{
    background: rgba(49, 52, 49, 0.5);
}
.main-box .main-ul .main-li a{

}
.form-control{
    height: 40px;
    color: rgba(114, 117, 114, 0.7);
    border-radius:0px;
}
.btn{
    height: 40px;
    font-size: 12pt;
    border-radius:0px;
}
.main-box .main-ul .main-li ul{
    list-style: none;
}
.main-box .main-ul .main-li ul li{
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    height: 350px;
    transition:all.5s;
}
.main-box .main-ul .main-li-left ul li{
    background-color:rgba(213, 216, 213, 0.5) ;
}
.main-box .main-ul .main-li-left ul li form{
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
}
.main-box .main-ul .main-li-right ul li form{
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
#register{
    display:none ;
}
#check-box-login{
    height:25px;
    float: left;
    margin: 0 5px;
    margin-left: 0;
}

.icon{
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    margin-left: 5px;
    position: relative;
}
.icon img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}