/*
新闻二级界面*/
#news-page .col-md-8,#news-page .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
}
.news-left{
    width: 100%;
    height: 350px;
    background-color: white;
    margin-bottom: 80px;
    display: block;
    float: left;
    padding: 10px;
}
.news-left-title{
    width: 100%;
    height: 70px;
    /* background-color: #5bc0de;*/
    border-bottom: 0.5px solid rgba(171, 174, 171, 0.4) ;
}
.news-left-title-l{
    width: 80%;
    display: block;
    float: left;
    height: 70px;
}
.news-left-title h3{
    display: block;
    margin: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.news-left-title p{
    margin-left: 20px;
    display: inline;
    font-size: 8pt;
}

.news-left-title .btn{
    float: right;
    height:30px;
    margin: 20px;
    border-radius:0px ;
    font-size: 12px;
}
.news-left-pic{
    width: 50%;
    height: 260px;
    padding: 20px;
    /* background-color: #2b542c;*/
    float: left;
    display: inline;
    text-align: center;
}
.news-left-pic span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.news-left-pic img{
    width: 100%;
    vertical-align: middle;
}
.news-left-text{
    width: 50%;
    height: 200px;
    float: left;
    display: block;
    margin-top:20px ;
    padding-bottom: 60px;
    border-bottom: 0.5px solid rgba(171, 174, 171, 0.4) ;
    line-height: 20px;
    font-size: 16px;
}
.news-left-link{
    width: 50%;
    height: 30px;
    /* background-color: #542142;*/
    float: left;
    display: inline;
}
.news-left-link a{
    font-size: 9pt;
    color:rgba(171, 174, 171, 0.8) ;
    margin-left: 5px;


}
.news-right-search{
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 80px;
    display: block;
    float: left;
    padding: 15px;
}
.news-right-search-box {
    width: 100%;
    height: 35px;
    margin: 5px;
    border-bottom: 0.5px solid rgba(171, 174, 171, 0.4) ;
}
.news-right-search-box-input{
    border: 0px;
    height: 25px;
    margin: 5px;
    outline:none;
    /* color: rgba(156, 159, 156, 0.9);*/
}
.news-right-search-box-r{
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    margin: 5px;
}
.news-right-search-box-r button{
    background-color: white;
    border: 0px;
}
.news-right-search-box-r img{
    width: 100%;
}
.news-right-search-lable p{
    margin: 5px;
    display: block;
}
.news-right-search-lable .btn{
    border-radius:0px ;
    margin: 5px;

}
.news-right{
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 80px;
    display: block;
    float: left;
    padding: 15px;
}
.news-right p{
    display:block;
    margin: 5px;
}
.news-right-box{
    width: 100%;
    height: 80px;
    display: block;
    padding: 5px;
    border-top:0.5px solid rgba(171, 174, 171, 0.4);
    transition: all.4s;
}
.news-right-box h4{
    display: block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.news-right-box p{
    margin-left: 0px;
    margin-right: 10px;
    display: inline;
}
.news-right-box:hover{
    background-color: rgba(171, 174, 171, 0.4);
}
.news-right-box-img{
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
}
.news-right-box-img img{
    width: 100%;
}