body{
    background-color: white;
}
.left{
    width: 100%;
    height: 1000px;
    display: block;
}
.right{
    width: 100%;
    height: 1000px;
    display: block;
}
.page{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;]
    padding: 25px;
}
.page .title{
    display: inline-block;
    width: 100%;
    height: 140px;
}
.page .title h1{
    line-height: 50px;
    text-align: left;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 10px;
}
.title .author{
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
.title .author .img-box{
    margin-left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
     border-radius: 25px;
    margin-right: 15px;
}
.title .author .img-box img{
    width: 100%;
}
.title .author .name{
    width: 100%;
    height: 30px;
    margin-left: 50px;
    display: block;
}
.title .author .name p{
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    display: inline-block;
}
.title .author .data{
    width: 100%;
    height: 20px;
    margin-left: 50px;
    display: block;
}
.title .author .data p{
    color: #878787;
    margin: 0;
    line-height: 20px;
    display: inline-block;
}
.text{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
}
.text .img-box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text .img-box img{
    width: 100%;
}
.text p{
    text-indent:2em;
}
.comment{
    width: 100%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 25px;
}
.comment h4{
    display: inline-block;
    margin: 10px;
}
.textarea-box{
    width: 100%;
    height: 170px;
    padding: 10px;
}
.message{
    width: 100%;
    height: 150px;
    resize: none;
}
.textarea-btn{
    margin: 10px;
    border-radius: 0px;
}
.comment-area{
    width: 100%;
    display: block;
    padding: 10px;
}
.comment-box{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.comment-box-img-box{
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
}
.comment-box-img-box img{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.comment-box p{
    display: inline-block;
    margin: 0;
    line-height: 15px;
    margin-right: 10px;
}
.comment-box p:nth-child(3){
    color: #9f9f9f;
}
.comment-box p:nth-child(5){
    line-height: 20px;
    display: inline;
    font-size: 13px;
}
.comment-comment{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.comment-comment div{
    display: inline-block;
    float: right;
    margin-left: 10px;
}
.comment-comment  p{
    display: inline-block;
    line-height: 20px;
    cursor:pointer
}

.comment-comment  p:nth-child(3){
    color: black;
}
.comment-comment  p:nth-child(2){
    margin-right: 0;
}
.comment-reply{
    width: 100%;
    padding: 15px;
    padding-bottom: 40px;
}
.comment-reply-textarea{
    width: 100%;
    display: none;
}
.reply-textarea-btn{
    margin:5px 0 0 0;
    border-radius: 0;
    display: block;
}
.comment-reply-text{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid silver ;
}
.comment-reply-text  p{
    display: inline;
    line-height: 20px;
    cursor:pointer

}