.left{
    width: 100%;
    height: 1000px;
    display: block;
}
.right{
    width: 100%;
    height: 1000px;
    display: block;
}
.page{
    width: 100%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #5d5d5d;
    padding: 25px;
}
.page .title{
    display: inline-block;
    width: 100%;
    height: 140px;
}
.page .title h1{
    line-height: 50px;
    text-align: center;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-bottom: 20px;
}
.title .author{
    margin-left: 10px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
.title .author .img-box{
    margin-left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
     border-radius: 25px;
    margin-right: 15px;
}
.title .author .img-box img{
    width: 100%;
}
.title .author .name{
    width: 100%;
    height: 30px;
    margin-left: 50px;
    display: block;
}
.title .author .name p{
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    display: inline-block;
}
.title .author .data{
    width: 100%;
    height: 20px;
    margin-left: 50px;
    display: block;
}
.title .author .data p{
    color: #878787;
    margin: 0;
    line-height: 20px;
    display: inline-block;
}
.text{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
}
.text .img-box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text .img-box img{
    width: 100%;
}
.text p{
    text-indent:2em;
}